*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: Calibri, Sans-Serif;
	max-width: 100%;
	outline-style: none;
}

#menu
{
	background-color: #e5e5e5;
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 40;
	border-bottom: 2px #148c98 solid;
}

nav
{
	width: 80%;
	display: inline-block;
	height: 85px;
}

li
{
	display: inline-block;
}

#menu_links
{
	position: absolute;
	top: 34px;
}

#connection
{
	position: absolute;
	right: 10%;
	top: 34px;
}

.special
{
	font-size: 25px;
	color: #148c98;
}

#pseudo
{
	text-decoration: underline;
}

span, #menu h1
{
	font-size: 25px;
	color: #148c98;
	font-weight: normal;
}

a, a:active, a:visited
{
	font-size: 25px;
	color: #148c98;
	text-decoration: none;
}

a:hover
{
	color: #1955b7;
	cursor: pointer;
}

input:hover, #game p:hover, noscript p:hover
{
	color: #1955b7;
	background-color: #dbdbdb;
}

a:focus, input:focus
{
	border: 1px black dashed;
}

#title_menu
{
	display: none;
}

footer
{
	background-color: #e5e5e5;
	padding-top: 40px;
	text-align: center;
	height: 70px;
	border-top: 2px #148c98 solid;
}

input, noscript p
{
	background-color: #e5e5e5;
	border: none;
	color: #148c98;
	width: 200px;
	height: 100px;
	font-family: Calibri,Sans-Serif;
	font-size: 25px;
	padding: 5px;
	word-wrap: break-word;
	outline-style: none;
	cursor: pointer;
	box-shadow: 0px 5px 0px #ccc;
}

#nojs
{
	display: initial !important;
}

#game
{
	padding-top: 334px;
	padding-bottom: 283px;
	text-align: center;
}

#game p
{
	font-family: Calibri,Sans-Serif;
	font-size: 23px;
	width: 383px;
	margin: auto;
	color: #148c98;
	background-color: #e5e5e5;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	box-shadow: 0px 5px 0px #ccc;
	cursor: pointer;
}

#rand
{
	vertical-align: top;
}

@media only screen and (max-width: 485px)
{
	#game
	{
		padding-top: 280px;
		padding-bottom: 200px;
	}

	#game p
	{
		width: 263px;
	}

	input
	{
		width: 140px;
	}
}

@media only screen and (max-width: 1100px)
{
	#title_menu
	{ 
		display: block;
		padding-top: 25px;
		font-size: 35px !important;
	}
	
	nav span
	{
		display: none;
	}
	
	nav
	{
		width: 100%;
		display: block;
	}

	#menu li
	{
		display: block;
		background-color: #e5e5e5;
		border-bottom: 2px #148c98 solid;
		padding: 15px;
		
	}
	
	#menu li:hover
	{
		background-color: #dbdbdb;
	}
	
	.under
	{
		border-top: 2px #148c98 solid;
	}
	
	#under_bottom
	{
		border-bottom: 4px #148c98 solid !important;
	}
	
	#menu_links
	{
		position: relative;
		text-align: center;
		right: 0;
		top: 0;
		margin-top: 34.5px;
	}
	
	#connection
	{
		position: relative;
		right: 0;
		top: 0;
	}
	
	nav.is-closed ul
	{
		max-height: 0;
		overflow: hidden;
	}
	
	nav > button
	{
		position: absolute;
		top: 18px;
		right: 18px;
		z-index: 1;
		height: 4rem;
		width: 4rem;
		background-color: transparent;
		padding: 0;
		outline: 0;
		border: 1px solid #148c98;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
	
	nav > button::-moz-focus-inner
	{
		border: 0;
	}
	
	nav > button::after, nav > button::before
	{
		content: "";
		position: absolute;
		top: 15%;
		right: 40%;
		bottom: 15%;
		left: 40%;
		background-color: #148c98;
		border-radius: 10px;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
	
	nav > button::before
	{
		top: 40%;
		right: 15%;
		bottom: 40%;
		left: 15%;
	}
		
	nav:not(.is-closed) > button, nav:not(.is-closed) > button::before
	{
		-webkit-transform: rotate(90deg) translateZ(0);
		-ms-transform: rotate(90deg) translateZ(0);
		transform: rotate(90deg) translateZ(0);
	}
}