*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: Calibri, Sans-Serif;
	max-width: 100%;
	outline-style: none;
	font-size: 25px;
	list-style: none;
}

a, a:active, a:visited
{
	font-size: 25px;
	color: white;
	text-decoration: none;
}

.menu
{
	background-color: black;
	height: 70px;
	top: 0;
	width: 100%;
}

nav
{
	display: inline-block;
	color: white;
}

nav li
{
	display: inline-block;
}

.back
{
	position: absolute;
	top: 18px;
	color: white;
	margin-left: 15px;
	cursor: pointer;
}

.player_info
{
	position: absolute;
	right: 20px;
	top: 18px;
}

.player_name, .player_name span
{
	font-size: 20px;
}

.icon-off
{
	margin-left: 30px;
}

.icon-back:hover, .icon-off:hover
{
	text-decoration: none;
}

.room_name
{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.room_name span
{
	font-size: 40px;
}

.ranking
{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 30px;
}

.ranking aside
{
	opacity: .5;
	text-align: left;
	width: 200px;
	position: absolute;
	margin-left: 25px;
	padding-top: 25px;
}

aside h1
{
	font-size: 18px;
	margin-bottom: 20px;
}

aside li
{
	font-size: 18px;
}

.points
{
	position: absolute;
	top: 90px;
	left: 90px;
}

.round
{
	font-size: 35px;
	padding-top: 25px;
	margin-bottom: 30px;
	font-weight: normal;
}

.ask_player
{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: normal;
}

.ask
{
	text-align: left;
	width: 550px;
	margin: auto;
	font-size: 30px;
	padding-bottom: 25px;
}

.replies
{
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 20px;
}

.choice
{
	position: absolute;
	left: 50px;
}

.reply
{
	width: 850px;
	margin: auto;
}

.reply:hover
{
	color: white;
	background-color: black;
	cursor: pointer;
}

input
{
	background-color: black;
	border: none;
	color: white;
	width: 100px;
	height: 35px;
	padding-bottom: 3px;
	font-size: 25px;
	word-wrap: break-word;
	cursor: pointer;
	position: absolute;
	right: 200px;
	bottom: 20px;
	transition-property: color;
	transition-duration: 1s;
}

input:hover
{
	background-color: white;
	color: black;
	border: 2px solid black;
}

@media only screen and (max-width: 1500px)
{
	.ask
	{
		text-align: center;
	}
	
	.choice
	{
		position: static;
		margin-bottom: 10px;
	}
	
	.reply
	{
		margin-bottom: 20px;
	}
	
	input
	{
		position: static;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1200px)
{
	.ranking aside
	{
		position: static;
		display: block;
		height: auto;
		text-align: center;
		width: 100%;
		margin-left: 0;
	}
	
	aside ul
	{
		display: inline-block;
	}
	
	.points
	{
		position: static;
		margin-left: 20px;
		text-align: left;
	}
}

@media only screen and (max-width: 800px)
{
	.menu nav
	{
		margin: auto;
	}
}