<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>CardsAgainstHumanityOnline</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="part/on.css" />
	</head>

	<body>
		<section class="menu">
			<nav>
				<ul class="player_info">
					<li class="player_name">Salut <span>Player2</span> !</li>
					<li><a href="#" class="icon-off" title="Déconnexion"></a></li>
				</ul>
			</nav>
		</section>
		<section class="header">
			<aside>
				<div class="cards_white"></div>
				<div class="cards_black"></div>
			</aside>
			<ul>
				<li><a href="#" class="rules">Règles du jeu</a></li>
				<li><h1 class="">CardAgainstHumanityOnline</h1></li>
				<li><a href="#" class="create_room">Créer une salle</a></li>
			</ul>
		</section>
		<section class="rooms">
			<table>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Créateur</th>
					<th>Nb de joueurs</th>
					<th>Disponibilité</th>
				</tr>
				<tr>
					<td>#01</td>
					<td>FrenchTeam</td>
					<td>Kevin62</td>
					<td>5</td>
					<td>Oui</td>
				</tr>
				<tr>
					<td>#01</td>
					<td>FrenchTeam</td>
					<td>Kevin62</td>
					<td>5</td>
					<td>Oui</td>
				</tr>
				<tr>
					<td>#01</td>
					<td>FrenchTeam</td>
					<td>Kevin62</td>
					<td>5</td>
					<td>Oui</td>
				</tr>
				<tr>
					<td>#01</td>
					<td>FrenchTeam</td>
					<td>Kevin62</td>
					<td>5</td>
					<td>Oui</td>
				</tr>
				<tr>
					<td>#01</td>
					<td>FrenchTeam</td>
					<td>Kevin62</td>
					<td>5</td>
					<td>Oui</td>
				</tr>
			</table>
		</section>
	</body>
</html>